<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <.link navigate={~p"/"} class="text-2xl font-bold text-brand">
        Bloghissimo
      </.link>
      <.link navigate={~p"/blogs"} class="hover:text-zinc-700">
        All Blogs
      </.link>
    </div>
    <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
      <%= if @current_user do %>
        <span class="text-sm text-zinc-600">Hello, <%= @current_user.name %>!</span>
        <.link navigate={~p"/profile"} class="hover:text-zinc-700">
          Profile
        </.link>
        <.link navigate={~p"/blogs/new"} class="hover:text-zinc-700">
          New Post
        </.link>
        <.link href={~p"/logout"} method="delete" class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80">
          Logout
        </.link>
      <% else %>
        <.link navigate={~p"/login"} class="hover:text-zinc-700">
          Login
        </.link>
        <.link navigate={~p"/register"} class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80">
          Register
        </.link>
      <% end %>
    </div>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
