<div class="mx-auto max-w-sm">
  <.header class="text-center">
    Log in to your account
    <:subtitle>
      Don't have an account?
      <.link navigate={~p"/register"} class="font-semibold text-brand hover:underline">
        Sign up
      </.link>
      for an account now.
    </:subtitle>
  </.header>

  <.simple_form :let={f} for={%{}} as={:user} action={~p"/login"} class="space-y-8">
    <.input field={f[:email]} type="email" label="Email" required />
    <.input field={f[:password]} type="password" label="Password" required />

    <:actions>
      <.button phx-disable-with="Logging in..." class="w-full">
        Log in <span aria-hidden="true">→</span>
      </.button>
    </:actions>
  </.simple_form>
</div>